.news-scroller {
    display: flex;
    overflow-x: auto;
    white-space: wrap;
    padding: 20px;
    gap: 10px;
    border: 1px solid #ddd;
    margin: 20px 0;
}

.news-item {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px; /* Ensure all items have the same width */
	min-width: 250px;
    box-sizing: border-box;
    position: relative;
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
}

.news-item img {
    width: 100%; /* Ensure all images are of the same width */
    height: auto;
    display: block;
}

.news-item h3 {
    margin: 10px 0 5px;
    font-size: 1.0rem;
}

.news-item p {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.news-item a {
    text-decoration: none;
    color: #333;
    background: #ddd;
    padding: 5px 10px;
    border-radius: 3px;
    align-self: normal; /* Ensure the link is aligned to the bottom right */
    margin-top: 10px;
	max-block-size: 2em;
}

.news-item a:hover {
    background: #ccc;
}
